<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Universal Teacher</title>
        <link  th:href="@{/css/style.css}"  rel="stylesheet" />
    </head>
    <body>
        <div class="mainContainer">
            <h1>Welcome to adptive e-learning system</h1>
            <p>Our system selects tasks according to your knowledges level</p>
            <p>Click <a th:href="@{/home}">here</a> to enter the home page.</p>
        </div>
    </body>
</html>