<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="courseHeader">
    <h2 th:text="${task.taskId}"></h2>
</div>

<p th:text="${task.question}">Question: </p>

<form th:action="@{'/courses/topic/' + ${topicId} + '/task-passing'}" method="post" th:object="${answer}">
    <div class="answerInput">
        <textarea type="text" placeholder="Answer" th:field="*{answerStr}"></textarea>
    </div>
    <button type="submit" class="submitBtn">Answer</button>
</form>

</body>
</html>