<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link  th:href="@{/css/style.css}"  rel="stylesheet" />
</head>
<body>
    <div class="homeContainer">
        <div class="homeHeader">
            <h2 th:text="${theory.title}"></h2>
            <p>Complexity: <span th:text="${theory.complexityValue}"></span></p>
            <div>Your rate: <span th:text="${account.rateValue}"></span></div>
        </div>
        <div id="mainDiv">
          
        </div>
        <button class="passedButton" id="btnPass">
            Я все зрозумів
        </button>
        <div class="modalRate" id="modalRate">
            <form class="answerContainer" th:action="@{'/courses/task-feedback/' + ${theory.theoryId} }" method="post" th:object="${feedback}">
                <textarea rows="5" cols="50" type="text"  ></textarea>
                <input type="range" name="" value="0.0" id="" min="0.0" max="1.0" th:field="*{gradeOfComplexity}">
                <button type="submit"  class="btn btn-success">Answer</button>
            </form>
            оцініть наскільки зрозуміло
            "повзунок"
        </div>
    </div>
<script th:inline="javascript">
    var text = [[${theory.textOfTheoryHTML}]];
    var element = document.getElementById("mainDiv");
    let passBtn = document.getElementById("btnPass");
    let modal = document.getElementById("modalRate");

    passBtn.addEventListener("click", ()=> modal.classList.toggle("visible") )
    element.innerHTML = text;
</script>
</body>
</html>